* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    border: 2px black solid;
}

.btns {
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

#header {
    font-size: 55px;
    font-weight: 1000;
    color: yellow;
    -webkit-text-stroke: red 2px;
    padding: 0px;
}

button {
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    transition: 0.2s ease-out;
}

button:hover {
    opacity: 0.9;
}

label {
    font-size: 18px;
    font-weight: 600;
}

#number {
    width: 40px;
    border: 1.5px solid black;
}

#confirm {
    background-color: rgb(53, 171, 53);
}

#reset {
    background-color: rgb(255, 0, 55);
}

#switch {
    background-color: lightseagreen;
    flex: 1 0 125px;
    min-width: 125px;
}